* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}

html {
  border-top: 10px solid black;
}

body {
  width:  350px;
  margin: auto;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1em;
}

h2 a {
  font-size: 1.5em;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
